.nodeRow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 15px) !important;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.nodeRow:hover {
    background-color: #e4e4e4;
}

.nodeRow:active {
    background-color: #ccc;
}

.nodeRowText {
    font-weight: 300;
    font-size: 0.8em;
    padding-top: 5px;
}