.container {
    display: grid;
    grid-template-columns: minmax(300px, 800px) 1fr;
    /* grid-template-rows: 2fr 1fr 2fr; */
    gap: 1px 1px;
    grid-template-areas: "nodeTree info";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.nodeTree { 
    /* grid-area: nodeTree;  */
    height: calc(100vh - 40px);
}

.info { 
    /* grid-area: info;  */
    height: calc(100vh - 40px);
}

.columnTitle {
    height: 40px;
    text-align: center;
    font-size: 1.4em;
    background-color: #888;
    color: #f9f9f9;
}
.columnTitle div {
    padding-top: 5px;
}

.buffer { grid-area: buffer; }

.viewer { grid-area: viewer; }